{% extends "sysAdmin.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Бүртгэлтэй компаниуд</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                    <div class="ibox-content">
                        <!-- ... -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="table-responsive">
                                        <table id="editableComp" class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                            <tr role="row">
                                                <th style="display: none;">companyID</th>
                                                <th>#</th>
                                                <th>Компани нэр</th>
                                                <th>Эзэмшигч</th>
                                                <th>N-Мэйл хаяг</th>
                                                <th>Компани Утас</th>
                                                <th>Хэрэглэгчийн Утас</th>
                                                <th>Хаяг,Байршил</th>
                                                <th>Эхлэсэн хугацаа</th>
                                                <th>Дуусах хугацаа</th>
                                                <th>өөрчлөгдсөн хугацаа</th>
                                                <th>Үйлдэлүүд</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for compList in compList%}
                                            <tr class="gradeA even" role="row">
                                                <td style="display: none;">{{compList.id}}</td>
                                                <td>{{loop.index}}</td>
                                                <td>{{compList.name}}</td>
                                                <td> {{compList.firstname}}
                                                    {{compList.lastname}}</td>
                                                <td>{{compList.email}}</td>
                                                <td>{{compList.compPhone}}</td>
                                                <td>{{compList.empPhone}}</td>
                                                <td>{{compList.address}}</td>
                                                <td>{{compList.createdAt}}</td>
                                                <td {% if date() > date(compList.expirDate) %}
                                                    style="background-color: #FF80AB; color: white;"
                                                    {% else %}
                                                    style="background-color: #448AFF; color: white;"  
                                                    {% endif %}>
                                                    {{compList.expirDate | date('Y-m-d')}}
                                                </td>
                                                <td>{{compList.updatedAt}}</td>
                                                <td> 
                                                    <button
                                                        value="{{compList.id}}"
                                                        class="updateBtn btn
                                                        btn-primary btn-xs"
                                                        data-title="Edit"
                                                        data-toggle="modal"
                                                        data-target="#">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                    <button
                                                        value="{{compList.id}}"
                                                        class="deleteBtn btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button> 
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--ibox-content end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
        <div id="upExpireD_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p>Компани нэр:</p>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="widget style1 lazur-bg">
                                    <div class="row">
                                        </p>Эхэлсэн хугацаа:</p>
                                        <span id="createdAt"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="widget style1 yellow-bg">
                                    <div class="row">
                                        <p>Дуусах хугацаа:</p>
                                        <span id="expiredAt"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <form class="m-t" id="up_compExpiredAt_form" role="form" action="?companies" method="POST">
                                <div class="form-group" >
                                    <div class="col-ms-6 col-sm-3">
                                        Хугацаа:
                                        <select class="form-control m-b" id="expire">
                                            <option value="3">3 хоног</option>
                                            <option value="7">7 хоног</option>
                                            <option value="14">14 хоног</option>
                                            <option value="30">30 хоног</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-ms-6 col-sm-3">
                                        Эхлэх огноо:
                                        <input type="text" class="form-control" name="newCreatedAt" id="newCreatedAt"> 
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success block full-width m-b">Сунгах</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        <!-- modal end -->
    </div>

    <input type="hidden" id="btn_upExpirD" class="btn btn-primary"
    data-toggle="modal" data-target="#upExpireD_modal"/>

    {% if section == "company" %}
    {% include "upEmployee.html" %}
    {% endif %}

{% endblock %}
{% block scripting %}
    {{parent()}}
    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    {% if message %}
    <script>
    $(document).ready(function () {
        //alert('{{message}}');
        $.notify("{{message}}","{{notify}}");
    });
    </script>
    {% endif %}
{% endblock %}
