{% extends "baseAdmin.html" %}
{% block content %}
<!--<h2>Падаан бүртгэх</h2>-->
<!--/<div class="hr-line-dashed"></div>-->
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>

                <div class="ibox-content">
                    <!-- ... -->
                    <div class="wrapper">
                        <form role="form" action="index.php" method="POST">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p><h3>Үйлчлүүлэгчийн мэдээлэл</h3></p>	
                                </div>
                                <div class="col-lg-6">
                                    <p><h3>Барааны мэдээлэл<h3/></p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">  
                                        <input type="number" class="form-control" required="" name="invoiceID" placeholder="Падааны дугаар">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="materialName" placeholder="Барааны нэр">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="firstname" placeholder="Овог">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="number" placeholder="Тоо ширхэг">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lastname" placeholder="Нэр">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="number" step="any" class="form-control" name="gramm" placeholder="Грамм">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="register" placeholder="Регистерийн дугаар">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="carat" placeholder="Сорьц">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="phone" placeholder="Утас">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="shinjTemdeg" placeholder="Шинж тэмдэг">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="address" placeholder="Гэрийн хаяг">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="anhniiUnelgee" placeholder="Анхны үнэлгээ">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                                <div class="col-xs-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="checkbox" name="invoicePrice" value="1">Падааны үнэ төлсөн<br>
                                        <input type="hidden" name="invoicePrice" value="0">
                                    </div><!-- /input-group -->
                                </div>
                                <div class="col-xs-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" value="{{year}}"
                                        class="form-control" readonly name="date" >
                                    </div><!-- /input-group -->
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p><h3>Гүйлгээний мэдээлэл<h3/></p>
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="materialType" placeholder="Зээлийн төрөл">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-4">
                                        <div class="form-group" id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" class="form-control datepicker" name="expiredAt">
                                            </div>
                                        </div>
                                        <!--<select class="form-control m-b" name="loanDate">
                                            <option value="1">1 хоног</option>
                                            <option value="3">3 хоног</option>
                                            <option value="7">7 хоног</option>
                                            <option value="14">14 хоног</option>
                                            <option value="20">20 хоног</option>
                                            <option value="30">30 хоног</option>
                                        </select> -->
                                </div><!-- /.col-lg-4 -->

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="number" id="interest" step="any" class="form-control" name="interest" placeholder="Хүү">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="number" id="loanMoney" class="form-control" name="loanMoney" placeholder="Зээлэх мөнгөний хэмжээ">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="number" id="inMoney"
                                        class="form-control" name="interestMoney" placeholder="Хүүний мөнгөн дүн">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="number" id="payment" class="form-control" name="payment" placeholder="Төлөх мөнгөн дүн">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div>

                            <button type="submit" class="btn btn-success block full-width m-b">Бүртгэх</button>
                        </form>
                    </div><!-- /.row -->
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripting  %}
{{parent()}}
    <script>
        $("document").ready(function() {
            $('#interest').keyup(function(event) {
                var loanMoney = parseInt($('#loanMoney').val()); 
                var interest = $('#interest').val();
                var interestMoney = Math.round(loanMoney * interest / 100);
                //
                $('#inMoney').val(interestMoney);
                $('#payment').val(interestMoney + loanMoney);
            });
            $('#loanMoney').keyup(function(event) {
                var loanMoney = parseInt($('#loanMoney').val()); 
                var interest = $('#interest').val();
                var interestMoney = Math.round(loanMoney * interest / 100);
                //
                $('#inMoney').val(interestMoney);
                $('#payment').val(interestMoney + loanMoney);

            });

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '-3d'
            });
        });
    </script>
{% endblock %}
