<div class="modal inmodal" id="{{section}}_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated flipInY">
            <form id="" method="POST" role="form" action="?">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Падаан сунгах</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Үйлчлүүлэгчийн мэдээлэл</div>
                                    <div class="panel-body">
                                     <h5>Овог:<span id="fName" class="label label-info"></span></h5>   
                                     <h5>Нэр:<span id="lName" class="label label-info"></span></h5>   
                                     <h5>Утас:<span id="phone" class="label label-default"></span></h5>   
                                     <h5>РД:<span id="rd" class="label label-default"></span></h5>   
                                     <h5>Хаяг:<span id="address" class="label label-default"></span></h5>   
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- -->
                                <div class="panel panel-danger">
                                    <div class="panel-heading">Барьцааны мэдээлэл</div>
                                    <div class="panel-body">
                                        <div class="wrapper">
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6">
                                                    <h5>Барьцааны нэр:</h5>   
                                                </div>
                                                <div class="col-xs-6 col-md-6"><span id="materialName" class="label label-info"></span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6"><h5>Тоо/ш:</h5></div>
                                                <div class="col-xs-6 col-md-6"><span id="number" class="label label-info"></span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6"><h5>Грам:</h5></div>
                                                <div class="col-xs-6 col-md-6"><span id="gramm" class="label label-default"></span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6"><h5>Сорьц:</h5></div>
                                                <div class="col-xs-6 col-md-6"><span id="carat" class="label label-default"></span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6"><h5>Ш/Тэмдэг:</h5></div>
                                                <div class="col-xs-6 col-md-6"><span id="sign" class="label label-default"></span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6"><h5>Анхны үнэлгээ:</h5></div>
                                                <div class="col-xs-6 col-md-6"><span id="anhniiUne" class="label label-default"></span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6"><h5>Үнэлсэн мэргэжилтэн:</h5></div>
                                                <div class="col-xs-6 col-md-6"><span id="unelsenEmp" class="label label-default"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- panel end-->
                            </div>
                        </div> <!-- row end -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Panel heading without title</div>
                                    <div class="panel-body">
                                        <div class="wrapper">
                                            <div class="row">
                                                <div class="col-xs-6 col-md-6">.col-xs-6 .col-md-4</div>
                                                <div class="col-xs-6 col-md-6">.col-xs-6 .col-md-4</div>
                                            </div>
                                        </div> <!--wrapper end -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- -->
                                <div class="panel panel-danger">
                                    <div class="panel-heading">Panel heading without title</div>
                                    <div class="panel-body">
                                        <div class="wrapper">
                                            <div class="row">
                                                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                                                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                                                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                                            </div>
                                        </div> <!--wrapper end -->
                                    </div>
                                </div>
                                <!-- panel end-->
                            </div>
                        </div> <!-- row end-->
                    </div>
                </div> <!-- modal body end -->
                <div class="clearfix visible-xs"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" del-val="1" id="btn_empDelete">Устгах</button>
                    <button type="submit" class="btn btn-primary">Илгээх</button>
                </div>
            </form>
        </div>
    </div>
</div>
